.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

.note
{
    font-size: 15px;
    color: black;
}

body
{
   background-size: cover;
}

#songname
{
    font-size: 23px;
    margin: 59px;
}

canvas
{
    border: 5px solid white;
border-radius: 20px;
}